<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Raptor Gym</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner-container">
    <img src="assets/img/Banner.png" alt="Banner de bienvenida" class="banner-image">
  </div>

  <div class="welcome-container">
    <h1>¡Bienvenido a Raptor Gym!</h1>
    <ion-button class="welcome-button" [routerLink]="['/product-list']">Ver productos</ion-button>
  </div>
</ion-content>